/*

html {
  background-image: url("../CSS/Assets/samuel-scrimshaw-361584.jpg");
  background-size: cover;
}

body {
  background-color: #CCC;
}

h1 {
  padding-left: 40%;
  padding-right: 40%;
  font-size: 250%;
}

.players {
  float: left;
  min-width: 97%;
  min-height: 97%;

}
*/
